.register-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: #44475a;
}

.register-item_description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.register-item h2 {
  font-size: 1.25rem;
  flex: 1;
  margin: 0 1rem;
  color: #f8f8f2;
}

.register-item_price {
  font-size: 1.25rem;
  font-weight: bold;
  color: #ff79c6;
  background-color: #1d1e26;
  border: 1px solid #ff79c6;
  padding: 0.5rem;
  border-radius: 12px;
  text-align: center;
}

.register-item_price.expense {
  color: #ff79c6;
  border: 1px solid #ff79c6;
}

.register-item_price.income {
  color: #50fa7b;
  border: 1px solid #50fa7b;
}

.register-item_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.register-item_icons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.register-item_icons span {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (min-width: 580px) {
  .register-item_description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .register-item_description h2 {
    font-size: 1.35rem;
  }

  .register-item_price {
    font-size: 1.3rem;
    padding: 0.5rem 1.5rem;
  }
}
